In [1]:
!pip install catboost

Defaulting to user installation because normal site-packages is not writeable

WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.

Collecting catboost
  Downloading catboost-1.0.4-cp39-none-win_amd64.whl (73.5 MB)
Requirement already satisfied: matplotlib in c:\users\admin\appdata\roaming\python\python39\site-packages (from catboost) (3.5.1)
Collecting graphviz
  Downloading graphviz-0.19.1-py3-none-any.whl (46 kB)
Requirement already satisfied: scipy in c:\users\admin\appdata\roaming\python\python39\site-packages (from catboost) (1.7.3)
Collecting plotly
  Downloading plotly-5.5.0-py2.py3-none-any.whl (26.5 MB)
Requirement already satisfied: six in c:\users\admin\appdata\roaming\python\python39\site-packages (from catboost) (1.16.0)
Requirement already satisfied: pandas>=0.24.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from catboost) (1.3.5)
Requirement already satisfied: numpy>=1.16.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from catboost) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\appdata\roaming\python\python39\site-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\appdata\roaming\python\python39\site-packages (from pandas>=0.24.0->catboost) (2021.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from matplotlib->catboost) (8.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\roaming\python\python39\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\admin\appdata\roaming\python\python39\site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from matplotlib->catboost) (21.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\appdata\roaming\python\python39\site-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from matplotlib->catboost) (4.28.5)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly, graphviz, catboost
Successfully installed catboost-1.0.4 graphviz-0.19.1 plotly-5.5.0 tenacity-8.0.1

You should consider upgrading via the 'C:\Program Files\Python39\python.exe -m pip install --upgrade pip' command.

In [3]:
import numpy as np
import pandas as pd

#import libraries for visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.options.display.max_columns = 100
# libraries for machine learning
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [4]:
amsterdam_airbnb = pd.read_csv('airbnb_listing_train.csv')

In [31]:
amsterdam_airbnb = pd.read_csv('airbnb_listing_validate.csv')

In [5]:
amsterdam_airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'price'],
      dtype='object')

In [6]:
amsterdam_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12901 entries, 0 to 12900
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12901 non-null  int64
 1   name                            12879 non-null  object
 2   host_id                         12901 non-null  int64
 3   host_name                       12893 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   12901 non-null  object
 6   latitude                        12901 non-null  float64
 7   longitude                       12901 non-null  float64
 8   room_type                       12901 non-null  object
 9   minimum_nights                  12901 non-null  int64
 10  number_of_reviews               12901 non-null  int64
 11  last_review                     11305 non-null  object
 12  reviews_per_month               11305 non-null  float64
 13  calculated_host_listings_count  12901 non-null  int64
 14  availability_365                12901 non-null  int64
 15  price                           12901 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 1.6+ MB

In [7]:
amsterdam_airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,11602914,Luxury home 100m2+garden in center!,3123809,Marjolein,NaN,De Pijp - Rivierenbuurt,52.35368,4.90177,Entire home/apt,3,13,15-02-2020,0.27,1,0,220
1,13289321,East is where your home is!,10259430,Ana,NaN,Oud-Oost,52.35728,4.92052,Entire home/apt,4,14,19-06-2019,0.29,1,0,110
2,40779315,Amsterdam Central - LUXURY house in BUSY STREET,224969266,Mark,NaN,Centrum-West,52.37582,4.89850,Entire home/apt,2,9,16-03-2020,1.65,1,7,100
3,7820311,great appartment down town,693472,Ayden,NaN,Westerpark,52.37792,4.87300,Entire home/apt,3,42,17-02-2020,0.72,1,0,130
4,27346603,Private room with canal view in peaceful area,41888346,Alissa,NaN,Westerpark,52.38051,4.87493,Private room,2,89,26-02-2020,4.02,1,24,90

In [8]:
amsterdam_airbnb.describe()

,id,host_id,neighbourhood_group,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,price
count,1.290100e+04,1.290100e+04,0.0,12901.000000,12901.000000,12901.000000,12901.000000,11305.000000,12901.000000,12901.000000,12901.000000
mean,1.984923e+07,6.321700e+07,NaN,52.365313,4.889744,3.542516,24.803194,0.748501,2.136501,61.392295,166.959538
std,1.216241e+07,8.010814e+07,NaN,0.016418,0.036016,15.154077,53.406134,1.260791,6.001838,107.988329,234.794630
min,2.016800e+04,3.592000e+03,NaN,52.289270,4.755720,1.000000,0.000000,0.010000,1.000000,0.000000,6.000000
25%,9.869642e+06,8.948269e+06,NaN,52.355190,4.863950,2.000000,2.000000,0.180000,1.000000,0.000000,99.000000
50%,1.874939e+07,2.711601e+07,NaN,52.364570,4.887130,2.000000,9.000000,0.380000,1.000000,0.000000,135.000000
75%,2.914232e+07,8.337686e+07,NaN,52.375110,4.909310,3.000000,24.000000,0.770000,1.000000,87.000000,190.000000
max,4.370900e+07,3.490175e+08,NaN,52.425090,5.018400,1001.000000,843.000000,50.000000,78.000000,365.000000,9000.000000

In [9]:
amsterdam_airbnb.isnull().sum()

id                                    0
name                                 22
host_id                               0
host_name                             8
neighbourhood_group               12901
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
minimum_nights                        0
number_of_reviews                     0
last_review                        1596
reviews_per_month                  1596
calculated_host_listings_count        0
availability_365                      0
price                                 0
dtype: int64

In [10]:
#dropping name and host_name as we have id and host_id
#dropping neighbourhood_group as entire column has missing value
amsterdam_airbnb.drop(['name','host_name','neighbourhood_group'], axis=1, inplace =True)

In [11]:
#dropping last_review and reviews_per_month as we have number_of_reviews which is more relevant compare to previous two columns
amsterdam_airbnb.drop(['last_review','reviews_per_month'], axis=1, inplace =True)

In [12]:
#convert to category dtype
amsterdam_airbnb['neighbourhood'] = amsterdam_airbnb['neighbourhood'].astype('category')

In [13]:
#use .cat.codes to create new colums with encoded value
amsterdam_airbnb['neighbourhood'] = amsterdam_airbnb['neighbourhood'].cat.codes

In [14]:
amsterdam_airbnb['neighbourhood'].value_counts()

7     2209
8     1600
5     1429
4     1097
20     958
21     924
17     831
2      730
14     644
19     381
16     376
11     321
18     269
13     257
12     171
3      155
10     144
6       88
15      83
9       80
0       78
1       76
Name: neighbourhood, dtype: int64

In [15]:
amsterdam_airbnb['room_type'].value_counts()

Entire home/apt    10064
Private room        2622
Hotel room           174
Shared room           41
Name: room_type, dtype: int64

In [16]:
#convert categorical variable into dummy/indicator variables for ML
amsterdam_airbnb = pd.get_dummies(amsterdam_airbnb, columns=['room_type'])

In [17]:
#Convert longitude and latitude into cartesian coordinates. Assume the earth as sphere not ellipsoid
R = 6371000 #Approximate mean radius of earth (in m)
 #lons and lats must be in radians
lon,lat = map(np.radians, [amsterdam_airbnb['longitude'], amsterdam_airbnb['latitude']])

# 'Single-point' Haversine formula
a = np.sin(lat/2)**2 + np.cos(lat) * np.sin(lon/2)**2
distance = 2 * R * np.arcsin(np.sqrt(a))

#creating new column distance and dropping longitude and latitude column
amsterdam_airbnb['distance'] = distance
amsterdam_airbnb.drop(['latitude', 'longitude'], axis = 1, inplace = True)

In [18]:
amsterdam_airbnb.columns

Index(['id', 'host_id', 'neighbourhood', 'minimum_nights', 'number_of_reviews',
       'calculated_host_listings_count', 'availability_365', 'price',
       'room_type_Entire home/apt', 'room_type_Hotel room',
       'room_type_Private room', 'room_type_Shared room', 'distance'],
      dtype='object')

In [19]:
amsterdam_airbnb.dtypes

id                                  int64
host_id                             int64
neighbourhood                        int8
minimum_nights                      int64
number_of_reviews                   int64
calculated_host_listings_count      int64
availability_365                    int64
price                               int64
room_type_Entire home/apt           uint8
room_type_Hotel room                uint8
room_type_Private room              uint8
room_type_Shared room               uint8
distance                          float64
dtype: object

In [20]:
amsterdam_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12901 entries, 0 to 12900
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12901 non-null  int64
 1   host_id                         12901 non-null  int64
 2   neighbourhood                   12901 non-null  int8
 3   minimum_nights                  12901 non-null  int64
 4   number_of_reviews               12901 non-null  int64
 5   calculated_host_listings_count  12901 non-null  int64
 6   availability_365                12901 non-null  int64
 7   price                           12901 non-null  int64
 8   room_type_Entire home/apt       12901 non-null  uint8
 9   room_type_Hotel room            12901 non-null  uint8
 10  room_type_Private room          12901 non-null  uint8
 11  room_type_Shared room           12901 non-null  uint8
 12  distance                        12901 non-null  float64
dtypes: float64(1), int64(7), int8(1), uint8(4)
memory usage: 869.4 KB

In [21]:
amsterdam_airbnb.groupby('price').mean()

,id,host_id,neighbourhood,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room,distance
price,,,,,,,,,,,,
6,6764212.00,2.793078e+06,8.00,2.000,14.000,1.000,0.000,1.000,0.000,0.00,0.0,5.839451e+06
10,40588320.00,3.138391e+08,16.00,1.000,5.000,1.000,195.000,0.000,0.000,1.00,0.0,5.843177e+06
12,4009850.00,1.351304e+06,16.00,2.000,11.000,1.000,0.000,1.000,0.000,0.00,0.0,5.842758e+06
19,11147683.00,3.420389e+07,2.00,6.000,4.000,1.000,0.000,0.000,0.000,1.00,0.0,5.841070e+06
20,27910574.75,1.902505e+08,13.25,7.125,16.625,7.875,311.125,0.125,0.625,0.25,0.0,5.841855e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
5555,32355945.00,1.464510e+06,17.00,1.000,2.000,78.000,0.000,1.000,0.000,0.00,0.0,5.840046e+06
6477,43121886.00,3.186499e+08,4.00,1.000,0.000,6.000,343.000,0.000,0.000,1.00,0.0,5.841218e+06
7000,41911423.75,3.166810e+08,5.00,1.000,0.000,5.000,364.750,0.000,0.000,1.00,0.0,5.841170e+06
7550,33842636.00,3.842541e+07,4.00,2.000,0.000,1.000,89.000,0.000,0.000,1.00,0.0,5.840936e+06
9000,290701.00,1.491565e+06,5.00,3.000,317.000,2.000,310.000,0.000,0.000,1.00,0.0,5.841830e+06

In [22]:
X = amsterdam_airbnb.drop('price', axis = 1)
y = amsterdam_airbnb['price']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=5)

In [24]:
from catboost import CatBoostRegressor
from sklearn.model_selection import GridSearchCV

In [25]:
model = CatBoostRegressor(random_seed = 42 )
parameters = {'depth'         : [6,8,10,21],
                  'learning_rate' : [0.01, 0.05, 0.1],
                  'iterations'    : [30, 50, 100]
              }
grid = GridSearchCV(estimator=model, param_grid = parameters, cv = 2, n_jobs=-1)
grid.fit(X_train, y_train)

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
18 fits failed out of a total of 72.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
18 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\catboost\core.py", line 5351, in fit
    return self._fit(X, y, cat_features, None, None, None, sample_weight, None, None, None, None, baseline,
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\catboost\core.py", line 2073, in _fit
    train_params = self._prepare_train_params(
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\catboost\core.py", line 2005, in _prepare_train_params
    _check_train_params(params)
  File "_catboost.pyx", line 5849, in _catboost._check_train_params
  File "_catboost.pyx", line 5868, in _catboost._check_train_params
_catboost.CatBoostError: C:/Program Files (x86)/Go Agent/pipelines/BuildMaster/catboost.git/catboost/private/libs/options/oblivious_tree_options.cpp:122: Maximum tree depth is 16

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.08802349 0.26727637 0.31133475 0.13293474 0.30881371 0.32758571
 0.21224335 0.33840917 0.33601616 0.08713085 0.25527289 0.33011669
 0.13146746 0.30974941 0.34797329 0.21160144 0.35493714 0.36130046
 0.08529225 0.26527224 0.32852876 0.13163879 0.32183806 0.35383031
 0.20994762 0.37024813 0.36554386        nan        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

0:	learn: 244.4382825	total: 220ms	remaining: 21.8s
1:	learn: 240.1185145	total: 276ms	remaining: 13.5s
2:	learn: 236.1479290	total: 327ms	remaining: 10.6s
3:	learn: 231.9562254	total: 377ms	remaining: 9.04s
4:	learn: 228.1668169	total: 432ms	remaining: 8.2s
5:	learn: 224.2159889	total: 487ms	remaining: 7.63s
6:	learn: 220.7483249	total: 540ms	remaining: 7.17s
7:	learn: 217.3534504	total: 593ms	remaining: 6.81s
8:	learn: 214.1038554	total: 647ms	remaining: 6.54s
9:	learn: 211.1783329	total: 707ms	remaining: 6.36s
10:	learn: 208.5675474	total: 759ms	remaining: 6.14s
11:	learn: 205.9405104	total: 812ms	remaining: 5.96s
12:	learn: 203.5350374	total: 867ms	remaining: 5.8s
13:	learn: 200.9682453	total: 922ms	remaining: 5.66s
14:	learn: 198.8966547	total: 974ms	remaining: 5.52s
15:	learn: 196.8866077	total: 1.03s	remaining: 5.39s
16:	learn: 194.9877525	total: 1.08s	remaining: 5.27s
17:	learn: 193.2770903	total: 1.14s	remaining: 5.19s
18:	learn: 191.5196857	total: 1.19s	remaining: 5.08s
19:	learn: 189.4254445	total: 1.24s	remaining: 4.97s
20:	learn: 187.8923895	total: 1.3s	remaining: 4.88s
21:	learn: 186.0052925	total: 1.35s	remaining: 4.78s
22:	learn: 184.4503103	total: 1.41s	remaining: 4.71s
23:	learn: 182.9774467	total: 1.46s	remaining: 4.62s
24:	learn: 181.9308309	total: 1.51s	remaining: 4.54s
25:	learn: 180.5699941	total: 1.57s	remaining: 4.46s
26:	learn: 179.3176380	total: 1.62s	remaining: 4.38s
27:	learn: 177.5165601	total: 1.67s	remaining: 4.3s
28:	learn: 175.7948874	total: 1.72s	remaining: 4.22s
29:	learn: 174.9121556	total: 1.78s	remaining: 4.16s
30:	learn: 173.9595197	total: 1.84s	remaining: 4.09s
31:	learn: 172.6885109	total: 1.89s	remaining: 4.01s
32:	learn: 171.3530538	total: 1.94s	remaining: 3.94s
33:	learn: 170.5993208	total: 2s	remaining: 3.88s
34:	learn: 169.6133187	total: 2.05s	remaining: 3.81s
35:	learn: 168.1924167	total: 2.1s	remaining: 3.74s
36:	learn: 167.4557737	total: 2.16s	remaining: 3.67s
37:	learn: 166.4936259	total: 2.21s	remaining: 3.61s
38:	learn: 165.4879445	total: 2.27s	remaining: 3.55s
39:	learn: 164.8829261	total: 2.32s	remaining: 3.48s
40:	learn: 164.2863788	total: 2.37s	remaining: 3.41s
41:	learn: 163.7414080	total: 2.42s	remaining: 3.35s
42:	learn: 162.8689843	total: 2.49s	remaining: 3.29s
43:	learn: 162.2531130	total: 2.54s	remaining: 3.23s
44:	learn: 161.5102276	total: 2.59s	remaining: 3.16s
45:	learn: 160.6136243	total: 2.64s	remaining: 3.1s
46:	learn: 159.5545082	total: 2.7s	remaining: 3.04s
47:	learn: 159.1129372	total: 2.75s	remaining: 2.98s
48:	learn: 158.6085433	total: 2.81s	remaining: 2.92s
49:	learn: 157.8921813	total: 2.86s	remaining: 2.86s
50:	learn: 157.0666819	total: 2.92s	remaining: 2.8s
51:	learn: 156.4207525	total: 2.97s	remaining: 2.74s
52:	learn: 155.5333403	total: 3.02s	remaining: 2.68s
53:	learn: 155.2302205	total: 3.07s	remaining: 2.62s
54:	learn: 154.5172858	total: 3.12s	remaining: 2.56s
55:	learn: 154.0234864	total: 3.19s	remaining: 2.5s
56:	learn: 153.3509139	total: 3.24s	remaining: 2.44s
57:	learn: 152.7818344	total: 3.29s	remaining: 2.38s
58:	learn: 152.4070906	total: 3.35s	remaining: 2.33s
59:	learn: 152.0052475	total: 3.4s	remaining: 2.27s
60:	learn: 151.4406783	total: 3.46s	remaining: 2.21s
61:	learn: 151.0435044	total: 3.51s	remaining: 2.15s
62:	learn: 150.6895011	total: 3.54s	remaining: 2.08s
63:	learn: 150.3291942	total: 3.59s	remaining: 2.02s
64:	learn: 149.8629877	total: 3.64s	remaining: 1.96s
65:	learn: 149.4608558	total: 3.69s	remaining: 1.9s
66:	learn: 149.2051772	total: 3.75s	remaining: 1.84s
67:	learn: 148.8208351	total: 3.8s	remaining: 1.79s
68:	learn: 148.4706642	total: 3.85s	remaining: 1.73s
69:	learn: 147.9818202	total: 3.9s	remaining: 1.67s
70:	learn: 147.5121810	total: 3.96s	remaining: 1.62s
71:	learn: 147.3162116	total: 4.02s	remaining: 1.56s
72:	learn: 146.9661448	total: 4.07s	remaining: 1.5s
73:	learn: 146.3735549	total: 4.12s	remaining: 1.45s
74:	learn: 145.9850284	total: 4.17s	remaining: 1.39s
75:	learn: 145.4870771	total: 4.24s	remaining: 1.34s
76:	learn: 145.3210722	total: 4.29s	remaining: 1.28s
77:	learn: 144.8551637	total: 4.34s	remaining: 1.22s
78:	learn: 144.6493999	total: 4.39s	remaining: 1.17s
79:	learn: 144.3550475	total: 4.42s	remaining: 1.1s
80:	learn: 144.0179605	total: 4.47s	remaining: 1.05s
81:	learn: 143.7268550	total: 4.52s	remaining: 992ms
82:	learn: 143.4030353	total: 4.57s	remaining: 936ms
83:	learn: 143.2627796	total: 4.62s	remaining: 880ms
84:	learn: 142.5105266	total: 4.68s	remaining: 825ms
85:	learn: 142.2030818	total: 4.73s	remaining: 770ms
86:	learn: 141.8144488	total: 4.78s	remaining: 714ms
87:	learn: 141.4119288	total: 4.83s	remaining: 659ms
88:	learn: 141.1124413	total: 4.89s	remaining: 604ms
89:	learn: 140.8362315	total: 4.95s	remaining: 550ms
90:	learn: 140.4505062	total: 5.01s	remaining: 496ms
91:	learn: 140.0531835	total: 5.07s	remaining: 441ms
92:	learn: 139.7921091	total: 5.09s	remaining: 383ms
93:	learn: 139.4689871	total: 5.14s	remaining: 328ms
94:	learn: 139.1885858	total: 5.2s	remaining: 274ms
95:	learn: 138.9265685	total: 5.25s	remaining: 219ms
96:	learn: 138.6476472	total: 5.31s	remaining: 164ms
97:	learn: 138.4685825	total: 5.37s	remaining: 110ms
98:	learn: 138.2118647	total: 5.42s	remaining: 54.8ms
99:	learn: 137.9817595	total: 5.47s	remaining: 0us

GridSearchCV(cv=2,
             estimator=<catboost.core.CatBoostRegressor object at 0x000001A7E4D71700>,
             n_jobs=-1,
             param_grid={'depth': [6, 8, 10, 21], 'iterations': [30, 50, 100],
                         'learning_rate': [0.01, 0.05, 0.1]})

In [26]:
pred = grid.predict(X_test)

In [27]:
grid.score(X_test, y_test)

0.11175927808523356

In [28]:
r2_score(y_test, pred)

0.11175927808523356

In [29]:
#evaluating the performance of the model
#MAE
print(mean_absolute_error(y_test, pred), end='\n')
#MSE
print(mean_squared_error(y_test, pred), end='\n')
#RMSE
print(np.sqrt(mean_squared_error(y_test, pred)))

62.54765937124322
24080.109181691554
155.17766972632228

In [32]:
test_new = pd.read_csv('airbnb_listing_validate.csv')

In [33]:
test_new.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [34]:
test_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6451 entries, 0 to 6450
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6451 non-null   int64
 1   name                            6440 non-null   object
 2   host_id                         6451 non-null   int64
 3   host_name                       6448 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   6451 non-null   object
 6   latitude                        6451 non-null   float64
 7   longitude                       6451 non-null   float64
 8   room_type                       6451 non-null   object
 9   minimum_nights                  6451 non-null   int64
 10  number_of_reviews               6451 non-null   int64
 11  last_review                     5655 non-null   object
 12  reviews_per_month               5655 non-null   float64
 13  calculated_host_listings_count  6451 non-null   int64
 14  availability_365                6451 non-null   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 756.1+ KB

In [35]:
test_new.drop(['name','host_name','neighbourhood_group', 'last_review','reviews_per_month'], axis=1, inplace =True)

In [36]:
#convert to category dtype
test_new['neighbourhood'] = test_new['neighbourhood'].astype('category')
test_new.dtypes

id                                   int64
host_id                              int64
neighbourhood                     category
latitude                           float64
longitude                          float64
room_type                           object
minimum_nights                       int64
number_of_reviews                    int64
calculated_host_listings_count       int64
availability_365                     int64
dtype: object

In [37]:
#use .cat.codes to create new colums with encoded value
test_new['neighbourhood'] = test_new['neighbourhood'].cat.codes

In [38]:
#convert categorical variable into dummy/indicator variables for ML
test_new = pd.get_dummies(test_new, columns=['room_type'])

In [39]:
#Convert longitude and latitude into cartesian coordinates. Assume the earth as sphere not ellipsoid
R = 6371000 #Approximate mean radius of earth (in m)

In [40]:
 #lons and lats must be in radians
lon,lat = map(np.radians, [test_new['longitude'], test_new['latitude']])

# 'Single-point' Haversine formula
a = np.sin(lat/2)**2 + np.cos(lat) * np.sin(lon/2)**2
distance = 2 * R * np.arcsin(np.sqrt(a))

#creating new column distance and dropping longitude and latitude column
test_new['distance'] = distance
test_new.drop(['latitude', 'longitude'], axis = 1, inplace = True)

In [41]:
test_new.columns

Index(['id', 'host_id', 'neighbourhood', 'minimum_nights', 'number_of_reviews',
       'calculated_host_listings_count', 'availability_365',
       'room_type_Entire home/apt', 'room_type_Hotel room',
       'room_type_Private room', 'room_type_Shared room', 'distance'],
      dtype='object')

In [42]:
test_new.dtypes

id                                  int64
host_id                             int64
neighbourhood                        int8
minimum_nights                      int64
number_of_reviews                   int64
calculated_host_listings_count      int64
availability_365                    int64
room_type_Entire home/apt           uint8
room_type_Hotel room                uint8
room_type_Private room              uint8
room_type_Shared room               uint8
distance                          float64
dtype: object

In [43]:
test_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6451 entries, 0 to 6450
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6451 non-null   int64
 1   host_id                         6451 non-null   int64
 2   neighbourhood                   6451 non-null   int8
 3   minimum_nights                  6451 non-null   int64
 4   number_of_reviews               6451 non-null   int64
 5   calculated_host_listings_count  6451 non-null   int64
 6   availability_365                6451 non-null   int64
 7   room_type_Entire home/apt       6451 non-null   uint8
 8   room_type_Hotel room            6451 non-null   uint8
 9   room_type_Private room          6451 non-null   uint8
 10  room_type_Shared room           6451 non-null   uint8
 11  distance                        6451 non-null   float64
dtypes: float64(1), int64(6), int8(1), uint8(4)
memory usage: 384.4 KB

In [44]:
newmodel = CatBoostRegressor(random_seed = 42 )
newparameters = {'depth'         : [6,8,10,21],
                  'learning_rate' : [0.01, 0.05, 0.1],
                  'iterations'    : [30, 50, 100]
              }
newgrid = GridSearchCV(estimator=newmodel, param_grid = newparameters, cv = 2, n_jobs=-1)
newgrid.fit(X, y)

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
18 fits failed out of a total of 72.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
18 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\catboost\core.py", line 5351, in fit
    return self._fit(X, y, cat_features, None, None, None, sample_weight, None, None, None, None, baseline,
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\catboost\core.py", line 2073, in _fit
    train_params = self._prepare_train_params(
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\catboost\core.py", line 2005, in _prepare_train_params
    _check_train_params(params)
  File "_catboost.pyx", line 5849, in _catboost._check_train_params
  File "_catboost.pyx", line 5868, in _catboost._check_train_params
_catboost.CatBoostError: C:/Program Files (x86)/Go Agent/pipelines/BuildMaster/catboost.git/catboost/private/libs/options/oblivious_tree_options.cpp:122: Maximum tree depth is 16

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.06898614 0.17818992 0.20541809 0.10773378 0.20739047 0.21229702
 0.1658843  0.22332431 0.20335458 0.07305196 0.21548094 0.25554925
 0.1100551  0.25125999 0.26824    0.17218789 0.28286309 0.27846513
 0.07248748 0.19857127 0.26700248 0.10866345 0.24343543 0.29063038
 0.17433802 0.27110168 0.29781997        nan        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

0:	learn: 226.8804979	total: 51.6ms	remaining: 5.11s
1:	learn: 219.7382604	total: 108ms	remaining: 5.3s
2:	learn: 213.6310975	total: 167ms	remaining: 5.4s
3:	learn: 207.8563910	total: 220ms	remaining: 5.29s
4:	learn: 202.2634806	total: 285ms	remaining: 5.42s
5:	learn: 197.5928495	total: 341ms	remaining: 5.35s
6:	learn: 194.2531726	total: 399ms	remaining: 5.3s
7:	learn: 191.4235273	total: 452ms	remaining: 5.2s
8:	learn: 187.9726597	total: 514ms	remaining: 5.19s
9:	learn: 184.7710159	total: 569ms	remaining: 5.12s
10:	learn: 182.0696438	total: 627ms	remaining: 5.07s
11:	learn: 179.5887931	total: 686ms	remaining: 5.03s
12:	learn: 176.9082028	total: 748ms	remaining: 5.01s
13:	learn: 174.1498182	total: 805ms	remaining: 4.94s
14:	learn: 171.8225554	total: 861ms	remaining: 4.88s
15:	learn: 170.0824987	total: 921ms	remaining: 4.84s
16:	learn: 168.9389340	total: 979ms	remaining: 4.78s
17:	learn: 166.8862484	total: 1.04s	remaining: 4.72s
18:	learn: 165.3678104	total: 1.09s	remaining: 4.66s
19:	learn: 163.0756774	total: 1.15s	remaining: 4.6s
20:	learn: 162.1963891	total: 1.21s	remaining: 4.55s
21:	learn: 160.4702149	total: 1.26s	remaining: 4.49s
22:	learn: 158.7198651	total: 1.32s	remaining: 4.42s
23:	learn: 157.9151568	total: 1.38s	remaining: 4.36s
24:	learn: 157.0133087	total: 1.43s	remaining: 4.3s
25:	learn: 156.1349072	total: 1.49s	remaining: 4.25s
26:	learn: 155.0817919	total: 1.55s	remaining: 4.19s
27:	learn: 154.1428391	total: 1.6s	remaining: 4.12s
28:	learn: 153.5151358	total: 1.66s	remaining: 4.07s
29:	learn: 153.0059367	total: 1.73s	remaining: 4.03s
30:	learn: 152.4962755	total: 1.78s	remaining: 3.97s
31:	learn: 151.7844114	total: 1.84s	remaining: 3.92s
32:	learn: 150.8976296	total: 1.91s	remaining: 3.88s
33:	learn: 150.6041969	total: 1.96s	remaining: 3.8s
34:	learn: 150.0324108	total: 2.01s	remaining: 3.73s
35:	learn: 149.6050978	total: 2.06s	remaining: 3.67s
36:	learn: 148.9431914	total: 2.12s	remaining: 3.62s
37:	learn: 148.2060225	total: 2.19s	remaining: 3.57s
38:	learn: 147.5564081	total: 2.24s	remaining: 3.51s
39:	learn: 146.9283503	total: 2.3s	remaining: 3.45s
40:	learn: 146.6570203	total: 2.36s	remaining: 3.39s
41:	learn: 146.1761774	total: 2.42s	remaining: 3.33s
42:	learn: 145.4604456	total: 2.48s	remaining: 3.29s
43:	learn: 145.0993922	total: 2.54s	remaining: 3.23s
44:	learn: 144.5127180	total: 2.6s	remaining: 3.18s
45:	learn: 144.1043093	total: 2.66s	remaining: 3.12s
46:	learn: 143.6384114	total: 2.72s	remaining: 3.06s
47:	learn: 143.1668660	total: 2.77s	remaining: 3s
48:	learn: 142.5531100	total: 2.83s	remaining: 2.95s
49:	learn: 141.9182999	total: 2.89s	remaining: 2.89s
50:	learn: 141.1773230	total: 2.94s	remaining: 2.83s
51:	learn: 140.7211207	total: 2.96s	remaining: 2.73s
52:	learn: 140.3489662	total: 3.02s	remaining: 2.67s
53:	learn: 139.8666288	total: 3.07s	remaining: 2.62s
54:	learn: 139.2920947	total: 3.13s	remaining: 2.56s
55:	learn: 138.3656494	total: 3.19s	remaining: 2.5s
56:	learn: 137.8572478	total: 3.24s	remaining: 2.44s
57:	learn: 137.6518243	total: 3.3s	remaining: 2.39s
58:	learn: 137.1027115	total: 3.36s	remaining: 2.33s
59:	learn: 136.6422019	total: 3.42s	remaining: 2.28s
60:	learn: 135.9510648	total: 3.45s	remaining: 2.2s
61:	learn: 135.5296286	total: 3.48s	remaining: 2.13s
62:	learn: 135.0210152	total: 3.53s	remaining: 2.07s
63:	learn: 134.6462167	total: 3.59s	remaining: 2.02s
64:	learn: 134.2102350	total: 3.65s	remaining: 1.97s
65:	learn: 133.8602600	total: 3.71s	remaining: 1.91s
66:	learn: 133.4761792	total: 3.77s	remaining: 1.86s
67:	learn: 133.2329683	total: 3.83s	remaining: 1.8s
68:	learn: 132.7679651	total: 3.89s	remaining: 1.75s
69:	learn: 132.5081333	total: 3.94s	remaining: 1.69s
70:	learn: 132.1176042	total: 4s	remaining: 1.64s
71:	learn: 131.8725014	total: 4.06s	remaining: 1.58s
72:	learn: 131.6935532	total: 4.11s	remaining: 1.52s
73:	learn: 131.2980765	total: 4.17s	remaining: 1.47s
74:	learn: 130.6098718	total: 4.23s	remaining: 1.41s
75:	learn: 129.8452844	total: 4.29s	remaining: 1.36s
76:	learn: 129.4024202	total: 4.37s	remaining: 1.31s
77:	learn: 129.0425065	total: 4.43s	remaining: 1.25s
78:	learn: 128.7545833	total: 4.49s	remaining: 1.19s
79:	learn: 128.3632008	total: 4.55s	remaining: 1.14s
80:	learn: 128.1120783	total: 4.61s	remaining: 1.08s
81:	learn: 127.9059795	total: 4.66s	remaining: 1.02s
82:	learn: 127.7705114	total: 4.72s	remaining: 967ms
83:	learn: 127.5186619	total: 4.78s	remaining: 910ms
84:	learn: 127.2497920	total: 4.83s	remaining: 853ms
85:	learn: 127.0093790	total: 4.84s	remaining: 789ms
86:	learn: 126.7776904	total: 4.9s	remaining: 732ms
87:	learn: 126.4273432	total: 4.95s	remaining: 676ms
88:	learn: 126.1517264	total: 5.01s	remaining: 619ms
89:	learn: 125.8768447	total: 5.06s	remaining: 562ms
90:	learn: 125.8618218	total: 5.07s	remaining: 502ms
91:	learn: 125.0513071	total: 5.13s	remaining: 446ms
92:	learn: 124.7010858	total: 5.18s	remaining: 390ms
93:	learn: 124.5262361	total: 5.24s	remaining: 334ms
94:	learn: 124.3365020	total: 5.29s	remaining: 278ms
95:	learn: 124.1190343	total: 5.35s	remaining: 223ms
96:	learn: 123.6388904	total: 5.41s	remaining: 167ms
97:	learn: 123.4404361	total: 5.46s	remaining: 112ms
98:	learn: 123.2393148	total: 5.52s	remaining: 55.7ms
99:	learn: 122.6569854	total: 5.57s	remaining: 0us

GridSearchCV(cv=2,
             estimator=<catboost.core.CatBoostRegressor object at 0x000001A7E4DB6DC0>,
             n_jobs=-1,
             param_grid={'depth': [6, 8, 10, 21], 'iterations': [30, 50, 100],
                         'learning_rate': [0.01, 0.05, 0.1]})

In [45]:
testnew_pred = newgrid.predict(test_new)

In [47]:
res = pd.DataFrame(testnew_pred)

In [49]:
# To download the csv file locally
res.to_csv('sample_submission.csv')